---

---
<h2>Datos personales</h2>
<section>
    <header>
        <img width="375" src="public\me.webp" alt="Maria">
        <h1>María del Mar Duvale Barbeitos</h1>
        <p>Geógrafa especializada en cartografía y SIG. Actualmente aprediendo diseño de páginas WEB y animación 3D</p>
        <ul>
            <li value="nombre">María del Mar</li>
            <li value="apellidos">Duvale Barbeitos</li>
            <li value="email">mar.barbeitos21@gmail.com</li>
            <li value="telefono">+34 606223344</li>
            <li value="titulacion">Graduada en geografía y ordenación del territorio.</li>
            <li value="resumen">
                <p>Experiencia en cartografía avanzada y el uso de software especialializado en SIG; ArcMap y QGis. Actualmente aprendiendo a desarrollar páginas WEB y animación 3D.</p>
            </li>
        </ul> 
    </header>
    
    
</section> 

<style> 
    img {
    aspect-ratio: 1 / 1;
    width: 115px;
    border-radius: 100%;
    object-fit: cover;
    max-width: 100%;
    object-position: center;
    }
    p {
        margin-top: 0;
    
    }
    h1 {
        margin-bottom: 0;
    }
</style>