---

---
<h2>Datos personales</h2>
<section>
    <img src="public\me.webp" alt="me">
    <ul>
        <li value="nombre">María del Mar</li>
        <li value="apellidos">Duvale Barbeitos</li>
        <li value="email">mar.barbeitos21@gmail.com</li>
        <li value="telefono">+34 606223344</li>
        <li value="titulacion">Graduada en geografía y ordenación del territorio.</li>
        <li value="resumen">
            <p>Experiencia en cartografía avanzada y el uso de software especialializado en SIG; ArcMap y QGis. Actualmente aprendiendo a desarrollar páginas WEB y animación 3D.</p>
        </li>
    </ul> 
    
</section> 