---
import Esqueleto from "../../layouts/Esqueleto.astro"
---
<h1 class="title">Portafolio María Duvale.</h1>
<br>
<section>
    <header class="header">
            <img width="375" height="375" src="/me.webp" alt="Maria"></div>
            <h1>María del Mar Duvale Barbeitos</h1>
            <br>
            <p>Geógrafa especializada en teledetección, ordenación territorial, cartografía y Sistemas de Información Geográfica. Actualmente aprendiendo diseño de páginas WEB y animación 3D.</p>
        <br>
    </header>
    <div>
        <svg id="dtos_personales_icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z" />
        </svg><h2>DATOS PERSONALES.</h2>

        <ul>
            <li class="nombre"><strong>Nombre: </strong>María del Mar.</li>
            <li class="apellidos"><strong>Apellidos: </strong>Duvale Barbeitos.</li>
            <li class="email"><strong>Correo electrónico: </strong>mar.barbeitos21@gmail.com</li>
            <li class="telefono"><strong>Teléfono: </strong>+34 606223344.</li>
            <li class="titulacion"><strong>Titulación: </strong>Graduada en geografía y ordenación del territorio.</li>
            <li class="resumen">
                <br>
                <p>Experiencia en cartografía avanzada y el uso de software especialializado en SIG; ArcMap y QGis. Actualmente aprendiendo a desarrollar páginas WEB y animación 3D.</p>
            </li>
        </ul> 
        <br>
    </div>
    
    
</section> 

<style> 
     #dtos_personales_icon {
        width: 40px;
        height: 40px;
        
    }
    h2, #dtos_personales_icon {
        display: inline-block;
        vertical-align: middle;
        
    }
    .title {
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: .9rem;
        font-weight: 600;
        gap: 2rem;
        
    }
    img {
        aspect-ratio: 1 / 1;
        /* width: 115px; */
        border-radius: 50%;
        object-fit: cover;
        max-width: 100%;
        object-position: top;
        /* object-position: center; */

    }
    
    p {
        margin-top: 0;
    
    }
    h1 {
        margin-bottom: 0;
    }
    li {
        list-style:none
    }
    ul {
        padding: 0;
    }

   
</style>