---
import Esqueleto from "../../layouts/Esqueleto.astro"
---
<h2>Estudios académicos</h2>
<section>
    <h3>Grado en geografía y Ordenación del Territorio (2016-2021)</h3>


</section>
<section>
    <h3>Idiomas</h3>
    <ul>
        <li>Galego</li>
            <p>Nivel: Nativo</p>
        <li>Español</li>
            <p>Nivel: Nativo</p>
        <li>Inglés</li>
            <p>Nivel:B1</p>
        <li>Francés</li>
            <p>Nivel:DELF B2</p>
        <li>Chino</li>
            <p>Nivel: HSK4</p>
    </ul>
</section>