---
import Esqueleto from "../../layouts/Esqueleto.astro"
---
<h2>ESTUDIOS ACADÉMICOS.</h2>
<section>
    <h3>Grado en geografía y Ordenación del Territorio <data value="fecha_uni">(Octubre 2016 - Septiembre 2021)</data></h3>
    <p>Universidade de Santiago de Compostela.</p>



</section>
<section>
    <h3>Idiomas.</h3>
        <p>Gallego y Español: nativo, Inglés: B1, Francés: DELF B2, Chino: HSK4.</p>
</section>

<style>
    data {
        font-size: .9rem;
        font-weight: bold;
        
    }

    h3 {
        color:rgb(53, 53, 53);
    }
</style>