---
import Esqueleto from "../../layouts/Esqueleto.astro"
---
<h2>ESTUDIOS ACADÉMICOS.</h2>
<section>
    <h3>Grado en geografía y Ordenación del Territorio (2016-2021)</h3>


</section>
<section>
    <h3>Idiomas</h3>
        <p>Galego:nativo, Español: nativo, Inglés: B1, Francés:DELF B2, Chino: HSK4.</p>
</section>