---
import Esqueleto from "../../layouts/Esqueleto.astro"
---
<br>
<h2>EXPERIENCIA LABORAL.</h2>
<section>
    <h3>- Empresa CERSIA <data value="data">(Octubre 2023 - Actualidad).</data></h3>
    <p>Desarrollo de páginas WEB y animación 3D.</p>
</section>
<br>
<section>
    <h3>- Contrato de prácticas Enxeñería Forestal Asefor S.L. <data value="data">(Febrero 2022 - marzo 2022).</data></h3>
    <p>Digitalización de mapas forestales y uso de drones en la planificación y aprovechamiento forestal.</p>
</section>

<style>
    h3 {
        color:rgb(53, 53, 53);
    }

    data {
        font-size: .9rem;
        font-weight: bold;
        
    }
</style>