---
import Esqueleto from "../../layouts/Esqueleto.astro"
---

<h2>Experiencia laboral</h2>
<section>
    <h3>Empresa Cersia</h3>
    <data value="data">(octubre 2023 - actualidad)</data>
    <p>Desarrollo de páginas WEB y animación 3D.</p>
</section>
<section>
    <h3>Contrato de prácticas Enxeñería Forestal Asefor S.L.</h3>
    <data value="data">(Febrero 2022 - marzo 2022)</data>
    <p>Digitalización de mapas forestales y el uso de drones en la planificación y aprovechamiento forestal.</p>
</section>