---
import Home from "../icons/Home.astro"
import "../../styles/custom.css"
---
<header>
    <h1 class="logo-title">
        Portafolio de María
    </h1>
    <nav class="navbar">
        <a href="/" style="" >
            <Home className="home-icon" />
            Home
        </a>
        <a href="/contacto">Contacto</a>
    </nav>
</header>

<style>
    header {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .home-icon {
    width: 1rem;
    height: 1rem;

}
</style>