---
import Card from "../ui/Card.astro"
---
<h2>Proyectos</h2>
<section>
    <h3>Youthmappers at USC (2019-2020)</h3>
    <img  width="375" src="public\youthmappers.png" alt="youthmappers">
    <a href="https://egeasantiago.home.blog/youthmappers-at-usc/"></a>
    <p>"Youthmappers at USC" es una organización sin ánimo de lucro organizada por estudiantes del grado de Geografía de la Universidad de Santiago de Compostela para cartografíar zonas remotas de difícil acceso para que pueda llegar ayuda humanitaria a las zonas más desfavorecidas.</p>
</section>

<section>
    <h3>Mediciones precisas de masas forestales usando dron y sistemas LIDAR (2021)</h3>
    <img src="public\dron-asefor.jpg" alt="dron">
    <a href="https://www.campogalego.es/cubicar-madera-vista-de-pajaro/"></a>
    <p></p>
</section>