---
import Card from "../ui/Card.astro"
---

<section>
    <h2>PROYECTOS.</h2>
    <aside>
        <Card enlace="https://egeasantiago.home.blog/youthmappers-at-usc/">   
            <img src="public\youthmappers.png" alt="youthmappers">
            <strong slot="titulo">Youthmappers at USC (2019-2020)" </strong>
            <p slot="contenido">Youthmappers at USC es una organización sin ánimo de lucro organizada por estudiantes del grado de Geografía de la Universidad de Santiago de Compostela para cartografíar zonas remotas de difícil acceso para que pueda llegar ayuda humanitaria a las zonas más desfavorecidas.</p>
        </Card>
        <Card enlace="https://www.campogalego.es/cubicar-madera-vista-de-pajaro/">
            <img src="public\dron-asefor.jpg" alt="dron"> 
            <strong slot="titulo">Mediciones precisas de masas forestales usando dron y sistemas LIDAR para el aprovechamiento forestal (2021).</strong>
            <p slot="contenido"></p>El proyecto de investigación de la Universidad de Santiago de Compostela, en colaboración con la empresa Asefor, busca medir la madera de los montes gallegos con drones y sistemas LIDAR.</p>
        </Card> 

    </aside>
</section>

<style>
    aside {
        display: grid;
        gap: 2rem;
    }
</style>