---
import Esqueleto from "../layouts/Esqueleto.astro";
---
<Esqueleto titulo="Página de Contacto" idioma="es">
    
    <form>
        <fieldset>
            <legend>Contacta conmigo!</legend>
            <input name="nombre" type="text" placeholder="María" required>Nombre
            <input name="apellido" type="text" placeholder="Duvale Barbeitos" required>Apellido
            <textarea>
        </fieldset>
    </form>
    
</Esqueleto> 