<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<main class="main-container">
    <nav>
       <a href="http://localhost:4321/">
            <svg id="inicio_icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
        </a> 
       <a href="http://localhost:4321/contacto">
            <svg id="contacto_icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
            </svg>
        </a>
    </nav>
</main>
<body>
    <slot/>
</body>
<footer>María del Mar Duvale Barbeitos ©</footer>
</html>

<style>
    #inicio_icon, #contacto_icon {
        width: 30px;
        height: 30px;
        color: black;
        
    }
</style>

<style is:global>
    *{
        box-sizing: border-box;
    }
    body {
        color:rgb(21, 21, 21);
        background-color:rgb(200, 218, 213);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        text-align: justify;
    }
    p {
        opacity: .5;
    }
    h1,h2,h3 {
        opacity: .9;
    }
    h2 {
        font-size: 1.1rem;
    }
    h3 {
        font-size: 1rem;
    
    }
    footer {
        text-align: end;
        margin-top: 2rem;
        opacity: .5;
    }
    .main-container {
        display: flex;
        float: right;
    }
</style>