<a href={Astro.props.enlace}>
    <slot name="titulo"/>
    <slot name="contenido">
  </a>
  
  <style>
      a {
          display: block;
          padding: .5rem;
          text-decoration: none;
          color: #000;
          background-color: #dad6db;
          border-radius: .5rem;
      }
      a:hover {
          background-color: rgb (242 239 243);
      }
  </style>