<a href={Astro.props.enlace}>
    <slot />
  </a>
  
  <style>
      a {
          display: block;
          text-decoration: none;
          background-color: rgb(248 245 245 / 50%);
          color:rgb(21, 21, 21); 
      }
      
  </style>